In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [15]:
stock_prices = pd.read_csv("/content/stock_prices.csv")
stock_prices

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026
...,...,...,...,...,...,...,...,...,...,...,...,...
2332526,20211203_9990,2021-12-03,9990,514.0,528.0,513.0,528.0,44200,1.0,NaN,False,0.034816
2332527,20211203_9991,2021-12-03,9991,782.0,794.0,782.0,794.0,35900,1.0,NaN,False,0.025478
2332528,20211203_9993,2021-12-03,9993,1690.0,1690.0,1645.0,1645.0,7200,1.0,NaN,False,-0.004302
2332529,20211203_9994,2021-12-03,9994,2388.0,2396.0,2380.0,2389.0,6500,1.0,NaN,False,0.009098
2332530,20211203_9997,2021-12-03,9997,690.0,711.0,686.0,696.0,381100,1.0,NaN,False,0.018414

In [16]:
stock_prices.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026

In [17]:
stock_prices.isna().sum()

RowId                     0
Date                      0
SecuritiesCode            0
Open                   7608
High                   7608
Low                    7608
Close                  7608
Volume                    0
AdjustmentFactor          0
ExpectedDividend    2313666
SupervisionFlag           0
Target                  238
dtype: int64

In [18]:
stock_prices.isna().sum()

RowId                     0
Date                      0
SecuritiesCode            0
Open                   7608
High                   7608
Low                    7608
Close                  7608
Volume                    0
AdjustmentFactor          0
ExpectedDividend    2313666
SupervisionFlag           0
Target                  238
dtype: int64

In [19]:
from scipy import stats
def featuring(data):
    data['ExpectedDividend'] = data['ExpectedDividend'].fillna(0)
    data["SupervisionFlag"] = data["SupervisionFlag"].astype(int)
    data['Target'] = data['Target'].fillna(0)
    
    cols = ['Open', 'High', 'Low', 'Close']
    data.loc[:,cols] = data.loc[:,cols].ffill()
    data.loc[:,cols] = data.loc[:,cols].bfill()

    data['Daily_Range'] = data['Close'] - data['Open']
    
    data['Open'] = stats.zscore(data['Open'])
    data['High'] = stats.zscore(data['High'])
    data['Low'] = stats.zscore(data['Low'])
    data['Close'] = stats.zscore(data['Close'])
    data['Volume'] = stats.zscore(data['Volume'])
    data['Daily_Range'] = stats.zscore(data['Daily_Range'])
    
    data = data.drop(['RowId', 'Date'], axis=1)
    
    return data

In [30]:
data = featuring(stock_prices)

In [21]:
df = data.sample(frac=0.15, replace=True, random_state=1)
df

,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,Daily_Range
128037,6470,-0.315375,-0.319166,-0.314660,-0.318643,-0.154308,1.0,0.0,0,-0.007660,-0.138292
491755,8140,0.503076,0.489747,0.504559,0.497714,-0.164944,1.0,0.0,0,0.004571,-0.234719
491263,6369,0.487681,0.491130,0.496057,0.492114,-0.169443,1.0,0.0,0,0.011390,0.187149
836489,7013,0.532466,0.525711,0.513060,0.506112,0.070582,1.0,0.0,0,-0.011287,-1.138722
73349,4540,0.214771,0.213101,0.224024,0.219156,-0.106037,1.0,0.0,0,-0.005822,0.187149
...,...,...,...,...,...,...,...,...,...,...,...
851077,3677,-0.349804,-0.332722,-0.346964,-0.335441,-0.124880,1.0,0.0,0,-0.030026,0.621070
1670693,5602,-0.270590,-0.271306,-0.267338,-0.271890,-0.174940,1.0,0.0,0,-0.051039,-0.053918
2284593,1887,-0.558056,-0.560402,-0.556657,-0.558567,-0.165404,1.0,0.0,0,-0.013180,-0.017758
1059260,3110,-0.128956,-0.131600,-0.124803,-0.125472,-0.167424,1.0,0.0,0,0.028894,0.150989
88392,4914,0.279149,0.276730,0.284948,0.283546,-0.171054,1.0,0.0,0,-0.015193,0.187149

In [22]:
x = df.drop(['Target'], axis=1)
y = df['Target']

In [23]:
from sklearn import svm
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size =0.2)
x_train.shape

(279904, 10)

In [25]:
svr_ = svm.SVR()
svr_.fit(x_train, y_train)

SVR()

In [26]:
r_square = svr_.score(x_test, y_test)

R-square compares the models predictions to mean of the target/class label. Its value ranges from - infinity (poor model performance) to 1(better model). It will tell us how well our model has predicted the value.

In [27]:
print("Coefficent of determination for SVR:", r_square)

Coefficent of determination for SVR: -0.21823289359357112

In [28]:
#Mean Absolute Error(MAE)
from sklearn.metrics import mean_absolute_error

y_preds = svr_.predict(x_test)
mae = mean_absolute_error(y_test, y_preds)
mae

0.01885928474931967

In [29]:
#Mean Squared Error(MSE)
from sklearn.metrics import mean_squared_error
y_preds = svr_.predict(x_test)
mse = mean_squared_error(y_test, y_preds)
mse

0.000671819257999995